/* styles.css */

:root {
    --clr-text-100: #333d29;
    --clr-text-200: #656d4a;
    --clr-text-300: #414833;
    --clr-text-400: #a4ac86;
    background-color: #656d4a;
    font-family: 'Oswald', sans-serif;
}

.title {
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    color: white;
    background-color: var(--clr-text-300);
}

.container {
    font-size: 20px;
    padding-left: 50px;
    background-color: var(--clr-text-300);
}

a:link, a:visited {
    background-color: var(--clr-text-100);
    color: white;
    width: 100px;
    padding: 5px 25px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: var(--clr-text-400);
  }