/* styles.css */

:root {
    --clr-text-100: #333d29;
    --clr-text-200: #656d4a;
    --clr-text-300: #414833;
    --clr-text-400: #a4ac86;
    background-color: #656d4a;
    font-family: 'Oswald', sans-serif;
}


/* containers */

.container-title {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    color: white;
    background-color: var(--clr-text-300);
}
.container-title .title {
    margin: 0px;
    font-size: 80px;
}
.container-title .subtitle {
    font-size: 16px;
    font-weight: 300;
}


/* flex containers */

.flex-container {
    padding: 16px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    background-color: var(--clr-text-300);
}
.flex-one,
.flex-two {
    width: auto;
    height: 25px;
}


/* visited link */

a:link, a:visited {
    background-color: var(--clr-text-100);
    color: white;
    width: auto;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: var(--clr-text-400);
  }